.ui-label-button {
  width: 140px;
  height: 35px;
  border: 1px solid var(--color00);
  background-color: var(--color10);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.ui-label-button:hover {
  background-color: var(--color11);
}

.ui-label-button > span {
  width: 30px;
  height: 30px;
  color: var(--text01);
}
