.ui-basic-button {
  width: 180px;
  height: 35px;
  border: none !important;
  background-color: var(--color05);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  display: flex;
  align-items: center;
}

.ui-basic-button:hover {
  background-color: var(--color06);
}

.ui-basic-button > svg {
  color: var(--text01);
}

.ui-basic-button-label {
  width: calc(100% - 40px);
  font-size: 13px;
  color: var(--text01);
}
