.ui-header-layout {
  width: 100%;
  height: 30px;
  background-color: var(--color07);
  position: relative;
}

.ui-header-layout-menu-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .ui-header-layout-menu-button.ui-header-layout-menu-button-extended {
    transition: 0.5s;
    left: 300px;
  }
}
