.ui-icon-button {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.ui-icon-button > svg {
  width: 25px;
  height: 25px;
  color: var(--text00);
}
